
 <%= form_with(model: @tweet) do |form| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% @tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  
<body class="wotbody">
    <h1 class="wottitle">Wall of Tweets - RoR Edition 2021</h1>
<br/>
  <div class="walltweet">
    <table border=0 cellpadding=2>
      <table border=0 cellpadding=2>
<tr><td>Your name:</td><td> <%= form.text_field :author %></td>
<tr><td>Your tweet:</td><td> <%= form.text_area :content %></td>

</textarea></td>
<td><input type="submit" name="commit" value="Tweet!" data-disable-with="Tweet!" /></td></tr>

   
  </div>
 

<% end %>

</table>
 
</form></div>
    
    
   <br/><div class="wotitem" id="notice"><%= notice%></span></div>
    
    
    
    
    
    <% @tweets.each do |tweet| %>
   

    <div>
       <br><h3><%= tweet.created_at %></h3>

<div class="wotitem" id="item_160">
    <div class="likes">
    <span class="numlikes" id='showLikes_160'><%= tweet.likes %></span><br/><span class="smallfont">people like this<span><br/>
    <h3><%= link_to 'Like', like_tweet_path(tweet), method: :put %></h3>
    </div>
        

              <div class="item">
    <h4><em><%= tweet.author %></em> @ 14:41</h4>
    <p><%= tweet.content %></p>
    <p style="text-align: right;"><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>


      </div>
      
    <% end %>


<br>
</body>